@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
  font-family: var(--font-inter);
}
.blue {
  background-color: rgba(4, 56, 115, 1);
}
.blueText {
  color: rgba(4, 56, 115, 1);
}
.btnLogin {
  background-color:rgba(255, 228, 146, 1);

}
.bgImg {
  background-image: url("/public/vec.png");
  background: fixed;
  
}
.card:hover {
  background-color:rgba(4, 56, 115, 1) ;
  transition: 0.4s;
}
#card:hover .text {
  color: rgba(255, 228, 146, 1);
  transition: 0.4s;
}
#clientCard:hover .text {
  color: white;
}
#clientCard:hover .bluetext {
  color: rgba(4, 56, 115, 1);
}
#card:hover .btn {
  background-color: rgb(41, 136, 199);
  transition: 0.4s;
  color: white;
  border: 0;
}
#card:hover .bg {
  scale: 90;
  
}
#card:hover .c1{
  color: rgba(4, 56, 115, 1);
  
}
@media (max-width: 1440px) {
  .cardWrapper {
      max-height: 800px;
      display: flex;
      align-items: end;
      overflow-x: auto;
      padding-top: 60px;
      padding-bottom: 40px;
      grid-column: auto;
      margin-top: 40px;
  
  }
.cardWrapper .item {
  max-width: 480px;
  height: 600px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 12px;
  flex: 0 0 auto; 
}
}

@media (max-width: 768px) {
  .cardWrapper {
      max-height: 900px;
      display: flex;
      align-items: end;
      overflow-x: auto;
      padding-top: 40px;
      padding-bottom: 40px;
      grid-column: auto;
      margin-top: 40px;
  
  }
.cardWrapper .item {
  max-width: 480px;
  height: 650px;
  margin-right: 60px;
  margin-left: 60px;
  border-radius: 12px;
  flex: 0 0 auto; 
}
}

@media (max-width: 640px) {
  .cardWrapper {
      max-height: 700px;
      display: flex;
      align-items: end;
      overflow-x: auto;
      padding-bottom: 20px;
      padding-top: 20px;
      grid-column: auto;
      margin-top: 10px;
  
  }
.cardWrapper .item {
  max-width: 320px;
  height: 540px;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 12px;
  flex: 0 0 auto; 
}
}

@media (max-width: 480px) {
  .cardWrapper {
      max-height: 600px;
      display: flex;
      overflow-x: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      grid-column: auto;
      margin-top: 4px;
      
  
  }
.cardWrapper .item {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 250px;
  height: 520px;
  border-radius: 12px;
  flex: 0 0 auto; 
}
}
.cardWrapper::-webkit-scrollbar {
  width: 0;
}


